body {
  margin: 0;
  font-family: Arial, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(16, 16, 16);
}
.banner{
  height: 100px;
  color: aliceblue;
}